<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tdr.citycontrolpolice">


    <!--Bugly-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--蓝牙-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!--         获取mac地址权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--     获取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--nfc-->
    <uses-permission android:name="android.permission.NFC" />
    <!--  <permission android:name="com.tdr.tendencyNfc.ReadCard" />-->

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />
    <!--扫一扫-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="cybertech.permission.READ_PSTORE_USERINFO" />
    <uses-permission android:name="cybertech.permission.READ_PSTORE_LINKINFO" />
    <uses-permission android:name="cybertech.pstore.permission.APP" />
    <uses-permission android:name="cybertech.lightsproj.permission.QUERY" />


    <!--app-->
    <application
        android:name="com.tdr.citycontrolpolice.base.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <!--android:name="com.tdr.citycontrolpolice.activity.SplashActivity"-->
        <activity
            android:name="com.tdr.citycontrolpolice.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--<category android:name="android.intent.category.INFO" />-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tdr.citycontrolpolice.activity.KjLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tdr.citycontrolpolice.activity.CzfInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ModifyCzfActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tdr.citycontrolpolice.activity.CzfCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tdr.citycontrolpolice.activity.PersonInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tdr.citycontrolpolice.activity.ModifyRoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tdr.citycontrolpolice.activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tdr.citycontrolpolice.activity.MineAboutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tdr.citycontrolpolice.activity.ModifyPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tdr.citycontrolpolice.activity.DeviceManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DeviceBindingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tdr.citycontrolpolice.activity.PersonCheckActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.activity.OCR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/filter_nfc" />
        </activity>
        <activity
            android:name="com.tdr.citycontrolpolice.activity.BindingDeviceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yunmai.android.idcard.ARecognize"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.yunmai.android.idcard.ACamera"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tdr.citycontrolpolice.activity.CzfQueryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PopulationPersonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tdr.citycontrolpolice.activity.CzfInfoDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tdr.citycontrolpolice.activity.DownloadDbActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tdr.citycontrolpolice.czfinit.CzfInitActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="zbar.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tdr.citycontrolpolice.activity.BoxActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tdr.citycontrolpolice.activity.CzfOutInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BluetoothChangeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.GmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExceptionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.QueueActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AttentionQueryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RemindActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AttentionEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CommonQuestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangeRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangeCodeActivity"
            android:screenOrientation="portrait" />
    <activity
            android:name=".activity.ApplyEditActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".receiver.NetChangedReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


        <!-- 扫描二维码 -->
        <activity
            android:name="com.tdr.citycontrolpolice.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="com.tdr.citycontrolpolice.NfcActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/filter_nfc" />

        </activity>

        <!--     <receiver android:name="com.tdr.citycontrolpolice.receiver.MessageReceiver">
                 <intent-filter>
                     <action android:name="com.tdr.identity.readcard" />
                 </intent-filter>
                 <intent-filter>
                     <action android:name="com.tdr.ecard.readcard" />
                 </intent-filter>
             </receiver>-->


    </application>

</manifest>
